<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.apiservice.mapper.UserRoleMapper">
    <cache readOnly="true" eviction="FIFO"/>


    <select id="listQuery" parameterType="com.cloud.apimodel.param.UserRoleQueryParam" resultType="com.cloud.apimodel.entity.UserRole">
        SELECT * FROM user_role
    </select>

</mapper>
