<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cloud.apiservice.mapper.${className}Mapper">

    <select id="listQuery" parameterType="com.cloud.apimodel.param.${className}Param" resultType="com.cloud.apimodel.entity.${className}">
        SELECT * FROM role_info
    </select>


</mapper>