package com.cloud.apimodel.param;

import com.example.commoncenter.base.BaseQueryParam;
import lombok.Data;



/**
 * ${comments}
 *
 * @author ${author} ${email}
 * @since ${version} ${date}
 */
@Data
public class ${className}Param extends BaseQueryParam {


}